button, a{
  outline:0;
  outline-offset:0;
  border:0;
}
@font-face {
  font-family: 'MasonChronicles';
  src: url('../fonts/MasonChronicles.woff') format('woff'),
       url('../fonts/MasonChronicles.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body{
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../img/Фон/yuyu.jpg);
  background-repeat: no-repeat;
  background-size: contain, 1900px;
  overflow-x:hidden;
  background-position: top right 50%;
}
.container{
  width: 95%;
  max-width: 100%;
  margin: auto;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 20px;
}
.logo{
  height: 120px;
}
.main-title{
  font-family: 'MasonChronicles', serif;
  margin-right: auto;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 66px;
  line-height: 40px;
  animation-delay: 0.5s;
}
.numberlink{
  text-decoration: none;
  color:#fff;
}
.numberlink:hover{
  color: red;
}
.menu-btn{
  display: none;
}
.first-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 250px;
}
.name{
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.main-description{
  font-family: 'Open Sans', sans-serif;
  max-width: 700px;
  font-size: 24px;
  line-height: 200%;
  margin-top:25px;
  margin-bottom: 25px;
  animation-delay: 0.7s;
}
.button{
  background: #FFE4E1;
  border-radius: 8px;
  color:#FFFFFF;
  border: none;
  padding:22px 72px;
  text-decoration: none;
  display:inline-block;
  animation-delay: 1s;
  color:black;
  margin-left: 20px;
}
.button:active{
  color:red;
}
.social-link{
  margin-right: 5px;
  text-decoration: none;
  flex-direction: column;
}
.social-link div{
  margin-bottom: 50px;
}
.second-content{
  display: flex;
  flex-direction: column;
}
.second-content div{
  margin-bottom: 150px;
}
.ellipses{
  margin:0 auto;
  display: flex;
}
.ellipses a{
  text-align: center;
  margin: 0px 150px 0px 150px;
}
.play{
  justify-content: center;
  align-items:center;
  background:none;
  width: 150px;
  height: 150px;
  border:none;
  position: relative;
  margin: 0 auto;
  text-decoration: none;
  color:#fff;
  flex-direction: column;
}
.play p{
  text-align: center;
  margin-top: 5px;
  text-decoration: none;
}
h1{
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
}
.arrowprev{
  width: 65px;
  height: 70px;
  border:none;
  background-image: url(../img/SvgNavigation/arrowprev.svg);
  background-repeat:no-repeat;
  background-color: transparent;
  background-position: center;
  position: absolute;
  top: 30%;
  left: -65px;
  transform-origin: center center;
}
.serias{
  display: flex;
  align-items:center;
  margin: 0px 0px 0px 40px;
  margin-bottom: 350px;
  position: relative;
  max-width: 1450px;
}
.swiper-container{
  max-width: 1600px;
}
.gallery img{
  border:3px solid #fff;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 260px;
  border-radius: 8px;
}
a.photo:hover img{
  border:3px solid  #d1567b;
}
.photoimg{
  width: 260px;
  height: 350px;
  object-fit: cover;
}
.arrow{
  width: 65px;
  height: 70px;
  border:none;
  background-image: url(../img/SvgNavigation/arrow.svg);
  background-repeat:no-repeat;
  background-color: transparent;
  background-position: center;
  position: absolute;
  top: 30%;
  right: -65px;
}
.footer{
  background-color:#141218;
  padding: 20px 0px;
  margin-top: auto;
}
.footer-content{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.logofooter{
  height: 120px;
}
.right div{
  margin-bottom: 15px;
}
.socialFooter{
  height: 50px;
}
.numberlinkfooter{
  text-decoration: none;
  color:#fff;
}
.sociallink a{
  margin-right: 25px;
}
@media(max-width:1600px){
  .header{
    margin-bottom: 25px;
  }
  .logo{
    height: 100px;
  }
  .main-title{
    font-size: 48px;
  }
  .name{
    font-size: 48px;
  }
  .main-description{
    max-width: 675px;
    font-size: 24px;
    line-height: 200%;
    margin-top:5px;
    margin-bottom: 5px;
  }
  .first-content{
    margin-bottom: 200px;
  }
  .ellipses a{
    margin: 0px 100px 0px 100px;
  }
  .serias{
    margin: 0 auto;
    margin-bottom: 250px;
    max-width: 965px;
  }
  .logofooter{
    height: 100px;
  }
}
@media(max-width:1440px){
  .header{
    margin-bottom: 40px;
  }
  .logo{
    height: 100px;
  }
  .main-title{
    font-size: 56px;
  }
  .name{
    font-size: 52px;
  }
  .main-description{
    max-width: 640px;
    font-size: 22px;
    line-height: 200%;
    margin-top:24px;
    margin-bottom: 5px;
  }
  .first-content{
    margin-bottom: 160px;
  }
  .ellipses a{
    margin: 0px 100px 0px 100px;
  }
  .serias{
    margin: 0 auto;
    margin-bottom: 250px;
    max-width: 965px;
  }
}
@media(max-width:1280px){
  .header{
    margin-bottom: 40px;
  }
  .logo{
    height: 75px;
  }
  .main-title{
    font-size: 50px;
  }
  .name{
    font-size: 50px;
  }
  .main-description{
    font-size: 18px;
    line-height: 220%;
  }
  .first-content{
    margin-bottom: 110px;
  }
  .ellipses a{
    margin: 0px 80px 0px 80px;
  }
  .serias{
    max-width: 750px;
  }
  .photoimg{
    width: 220px;
    height: 350px;
  }
  .logo{
    height: 75px;
  }
  .socialFooter{
    height: 30px;
  }
}
@media(max-width:1199px){
  .logo{
    height: 90px;
  }
  .main-title{
    font-size: 42px;
  }
  .name{
    font-size: 42px;
  }
  .main-description{
    max-width: 560px;
    font-size: 18px;
    line-height: 200%;
    margin-top:24px;
    margin-bottom: 5px;
  }
  .first-content{
    margin-bottom: 160px;
  }
  .ellipses a{
    margin: 0px 80px 0px 80px;
  }
  .serias{
    max-width: 750px;
  }
  .photoimg{
    width: 220px;
    height: 350px;
  }
  .logofooter{
    height: 90px;
  }
}
@media(max-width:1024px){
  .logo{
    height: 60px;
  }
  .main-title{
    font-size: 44px;
  }
  .name{
    font-size: 36px;
  }
  .main-description{
    max-width: 460px;
    font-size: 16px;
    line-height: 150%;
    margin-top:24px;
    margin-bottom: 15px;
  }
  .first-content{
    margin-bottom: 160px;
  }
  .ellipses a{
    margin: 0px 80px 0px 80px;
  }
  .serias{
    max-width: 750px;
  }
  .photoimg{
    width: 220px;
    height: 350px;
  }
  .logofooter{
    height: 60px;
  }
}
@media(max-width:959px){
  .header{
    margin-bottom: 30px;
  }
  .logo{
    height: 50px;
  }
  .name{
    font-size: 36px;
  }
  .main-description{
    max-width: 450px;
    font-size: 14px;
  }
  .first-content{
    margin-bottom: 100px;
  }
  .ellipses a{
    margin: 0px 50px 0px 50px;
  }
  .serias{
    max-width: 710px;
  }
  .photoimg{
    width: 320px;
  }
  .logofooter{
    height: 50px;
  }
}
@media(max-width:840px){
  .header{
    margin-bottom: 10px;
  }
  .logo{
    height: 50px;
  }
  .name{
    font-size: 36px;
  }
  .main-description{
    margin-top: 5px;
    margin-bottom: 15px;
    max-width: 400px;
    line-height: 150%;
    font-size: 14px;
  }
  .first-content{
    margin-bottom: 100px;
  }
  .ellipses a{
    margin: 0px 50px 0px 50px;
  }
  .serias{
    max-width: 675px;
  }
  .photoimg{
    width: 310px;
  }
  .logofooter{
    height: 50px;
  }
}
@media(max-width:768px){
  .main-title{
    font-size: 38px;
  }
  .name{
    font-size: 32px;
  }
  .main-description{
    margin-top: 5px;
    margin-bottom: 15px;
    max-width: 400px;
    line-height: 200%;
    font-size: 12px;
  }
  .serias{
    max-width: 500px;
  }
  .photoimg{
    width: 200px;
  }
}
@media(max-width:720px){
  .name{
    font-size: 32px;
  }
  .main-description{
    margin-top: 5px;
    margin-bottom: 15px;
    max-width: 360px;
    line-height: 150%;
    font-size: 12px;
  }
  .ellipses a{
    margin: 0px 30px 0px 30px;
  }
  .serias{
    max-width: 570px;
  }
  .photoimg{
    width: 200px;
  }
  .footer-link{
    font-size: 12px;
  }
  .numberlinkfooter{
    font-size: 12px;
  }
}
@media(max-width:640px){
  .main-title{
    font-size: 32px;
  }
  .name{
    font-size: 28px;
  }
  .button{
    padding:10px 30px;
  }
  .ellipses a{
    margin: 0px 30px 0px 30px;
  }
  .play{
    width: 120px;
    height: 120px;
  }
  .serias{
    max-width: 490px;
  }
  .footer-link{
    display: none;
  }
}
@media(max-width:600px){
  .header{
    padding-top: 5px;
    margin-bottom: 3px;
  }
  .logo{
    height: 30px;
  }
  .main-title{
    font-size: 30px;
  }
  .name{
    font-size: 24px;
  }
  .main-description{
    margin-top: 5px;
    margin-bottom: 15px;
    max-width: 350px;
    line-height: 150%;
    font-size: 12px;
  }
  .button{
    padding:10px 30px;
  }
  .ellipses a{
    margin: 0px 30px 0px 30px;
  }
  .play{
    width: 120px;
    height: 120px;
  }
  .arrowprev{
    left: -85px;
  }
  .serias{
    max-width: 230px;
  }
  
}
@media(max-width:540px){
  .menu-btn{
    display: block;
    width: 30px;
    height: 2px;
    background-color:#FFFFFF;
    right: 35px;
    top: 40px;
    position: absolute;
    border:none;
    cursor: pointer;
  }
  .menu-btn::before{
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background-color:#FFFFFF;
    transition: transform 0.2s;
    margin-top: -7px;
  }
  .menu-btn::after{
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background-color:#FFFFFF;
    transition: transform 0.2s;
    margin-top: 7px;
  }
  .number img{
    display: none;
  }
  .numberlink{
    display: none;
  }
  .header-active{
    display: flex;
    z-index: 1;
  }
  .menu-btn-active{
    height: 0;
    z-index: 99;
  }
  .menu-btn-active::before{
    transform: rotate(45deg);
    margin-top: 0;
  }
  .menu-btn-active::after{
    transform: rotate(-45deg);
    margin-top: 0;
  }
  .main-title{
    font-size: 22px;
  }
  .name{
    font-size: 20px;
  }
  .main-description{
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 300px;
    line-height: 120%;
    font-size: 12px;
  }
  .play{
    width: 100px;
    height: 100px;
  }
  .social-link:first-child{
    margin-left: 0;
  }
  .swiper-container{
    width: 80%;
  }
  .serias{
    max-width: 260px;
  }
}
@media(max-width:480px){
  .main-title{
    font-size: 22px;
  }
  .name{
    font-size: 20px;
  }
  .main-description{
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 250px;
    line-height: 120%;
    font-size: 10px;
  }
  .ellipses p{
    font-size: 14px;
    text-align: center;
  }
  .play{
    width: 80px;
    height: 80px;
  }
  .serias{
    max-width: 260px;
  }
}
@media(max-width:414px){
  .main-title{
    font-size: 22px;
  }
  .name{
    font-size: 20px;
  }
  .main-description{
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 250px;
    line-height: 100%;
    font-size: 10px;
  }
  .button{
    padding:3px 25px;
  }
  .play{
    width: 60px;
    height: 60px;
  }
  .arrowprev{
    left: -65px;
  }
  .serias{
    max-width: 260px;
  }
}
@media(max-width:375px){
  .menu-btn{
    top: 20px;
  }
  .menu-btn-active{
    height: 0;
    z-index: 99;
    top: 40px;
  }
  .menu-btn-active::before{
    transform: rotate(45deg);
    margin-top: 0;
    right: 200px;
  }
  .menu-btn-active::after{
    transform: rotate(-45deg);
    margin-top: 0;
    right: 200px;
  }
  .header{
    padding-top: 0px;
    margin-bottom: 0px;
  }
  .logo{
    height: 25px;
  }
  .main-title{
    font-size: 18px;
  }
  .name{
    font-size: 16px;
  }
  .main-description{
    margin-top: 0px;
    margin-bottom: 5px;
    max-width: 220px;
    line-height: 100%;
    font-size: 10px;
  }
  .button{
    display: none;
  }
  .first-content{
    margin-bottom: 20px;
  }
  .ellipses a{
    margin: 0px 50px 0 20px;
  }
  .play{
    width: 50px;
    height: 50px;
  }
  .arrowprev{
    left: -65px;
  }
  .arrow{
    right: -55px;
  }
  .serias{
    max-width: 210px;
  }
  .photoimg{
    width: 150px;
  }
}
@media(max-width:360px){
  .ellipses a{
    margin: 0px 40px 0 15px;
  }
  .ellipses p{
    font-size: 12px;
    text-align: center;
  }
  .arrow{
    right: -55px;
  }
  .serias{
    max-width: 200px;
  }
  .footermain{
    font-size: 16px;
  }
}
@media(max-width:320px){
  .main-description{
    margin-top: 0px;
    margin-bottom: 5px;
    max-width: 200px;
    line-height: 100%;
    font-size: 8px;
  }
  .social-link div{
    margin-bottom: 30px;
  }
  .ellipses a{
    margin: 0px 40px 0 15px;
  }
  .ellipses p{
    font-size: 12px;
    text-align: center;
  }
  .arrow{
    right: -50px;
  }
  .serias{
    max-width: 157px;
  }
  .photoimg{
    width: 120px;
  }
  h1{
    font-size: 30px;
  }
  .footermain{
    font-size: 12px;
  }
}